<header class="head pos-relative">
    	<div class="back pos-absolute">
    		<i class="iconfont icon-sousuo f4" ui-sref="search"></i>
    	</div>
    	<p><span ui-sref="index" ui-sref-active="active">热门</span><span ui-sref="add" ui-sref-active="active">关注</span></p>
    	<div class="more pos-absolute">
    		<i class="iconfont icon-gouwuche f22"></i>
    	</div>
    </header>
<section class="guan">
		<div class="guan_xian">
			<div class="guan_info">
				<dl>
					<dt>
						<img src="./images/icon/tou_03.png" alt="" />
					</dt>
					<dd>
						<span>显脸小</span>
					</dd>
				</dl>
				<p>
					<i class="iconfont icon-add f22"></i>
					<span>加关注</span>
				</p>
			</div>
			<h3>猜您对<span>#显脸小#</span>相关的内容感兴趣</h3>
			<ul>
				<li><img src="./images/img/xain_06.png" alt="" /></li>
				<li><img src="./images/img/xain_08.png" alt="" /></li>
				<li><img src="./images/img/xain_10.png" alt="" /></li>
			</ul>
		</div>
		<div class="guan_xian">
			<div class="guan_info">
				<dl>
					<dt>
						<img src="./images/icon/tou_03.png" alt="" />
					</dt>
					<dd>
						<span>遮大熊</span>
					</dd>
				</dl>
				<p>
					<i class="iconfont icon-add f22"></i>
					<span>加关注</span>
				</p>
			</div>
			<h3>猜您对<span>#遮大熊#</span>相关的内容感兴趣</h3>
			<ul>
				<li><img src="./images/img/zhe_07.png" alt="" /></li>
				<li><img src="./images/img/zhe_09.png" alt="" /></li>
				<li><img src="./images/img/zhe_11.png" alt="" /></li>
			</ul>
		</div>
		
		
</section>

<my-footer></my-footer>