<header class="bang">
	<i class="iconfont icon-close f22" ui-sref="close"></i>
</header>
<section class="bang_content">
	<div class="bang_btn">
		<ul>
			<li><i class="iconfont icon-shouji f22"></i><input type="text" placeholder="请输入11位手机号"/><p>绑定会让你的账户更安全，还可以直接使用手机号登陆</p></li>
			<li><i class="iconfont icon-xinxi f22"></i><input type="text" placeholder="请输入验证码"/><span>获取密码</span></li>
		</ul>
	</div>
	<p class='shouji'>绑定</p>
	<div class="no_bang" ui-sref="close"><span>暂不绑定</span><span class="iconfont icon-arrowright f22"
		 ></span></div>
</section>