<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-arrowleft f4" ui-sref="dialog"></i>
	</div>
	<h3>搭配测试</h3>
	<div class="more pos-absolute">
		<i class="iconfont icon-fenxiang2 f22 pr10"></i>
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>

<section class="ti">
	<div class="swiper-container pagination_up">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<div class="ti_logo">
					<img src="./images/img/logo_03.png" alt="" />
				</div>
				<div class="ti_datas">
					<dl>
						<dt>
							<img src="./images/img/ti_03.png" alt="" />
						</dt>
						<dd>
							<h4>直筒型 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>胸宽、腰宽相差较小</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/ti_05.png" alt="" />
						</dt>
						<dd>
							<h4>梨形 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>腹部、臀、大腿脂肪较多</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/ti_10.png" alt="" />
						</dt>
						<dd>
							<h4>沙漏型 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>细腰、明显的S曲线</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/ti_12.png" alt="" />
						</dt>
						<dd>
							<h4>苹果形 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>腰腹胸拽肉太多、臀部丰满</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/ti_18.png" alt="" />
						</dt>
						<dd>
							<h4>倒三角 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>肩宽、无腰、窄臀</p>
						</dd>
					</dl>
				</div>
				<div class="ti_cao">
		
					<div class="ti_shang">
						<i class="iconfont icon-arrowleft f22"></i><span>上一步</span>
					</div>
					<div class="ti_xia">
						<span>下一步</span><i class="iconfont icon-arrowright f22"></i>
					</div>
					<div class="ti_xuan">
						<i class="iconfont icon-wenhao f22"></i><span>帮我选身形</span>
					</div>
				</div>
            </div>
            <div class="swiper-slide">
            	<div class="ti_logo">
					<img src="./images/img/logo_04.png" alt="" />
				</div>
				<div class="ti_datas">
					<dl>
						<dt>
							<img src="./images/img/lian_07.png" alt="" />
						</dt>
						<dd>
							<h4>鹅蛋脸 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>胸宽、腰宽相差较小</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/lian_09.png" alt="" />
						</dt>
						<dd>
							<h4>圆脸 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>腹部、臀、大腿脂肪较多</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/lian_16.png" alt="" />
						</dt>
						<dd>
							<h4>瓜子脸 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>腰腹胸拽肉太多、臀部丰满</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/ti_18.png" alt="" />
						</dt>
						<dd>
							<h4>方脸 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							<p>肩宽、无腰、窄臀</p>
						</dd>
					</dl>
				</div>
				<div class="ti_cao">
		
					<div class="ti_shang">
						<i class="iconfont icon-arrowleft f22"></i><span>上一步</span>
					</div>
					<div class="ti_xia">
						<span>下一步</span><i class="iconfont icon-arrowright f22"></i>
					</div>
					<div class="ti_xuan">
						<i class="iconfont icon-wenhao f22"></i><span>帮我选身形</span>
					</div>
				</div>
            </div>
            <div class="swiper-slide">
            	<div class="ti_logo">
					<img src="./images/img/logo_05.png" alt="" />
				</div>
				<div class="ti_datas">
					<dl>
						<dt>
							<img src="./images/img/jing_07.png" alt="" />
						</dt>
						<dd>
							<h4>晶莹白皙 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/jing_09.png" alt="" />
						</dt>
						<dd>
							<h4>自然红润 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/jing_14.png" alt="" />
						</dt>
						<dd>
							<h4>自然偏黄 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/jing_16.png" alt="" />
						</dt>
						<dd>
							<h4>活力小麦 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
				</div>
				<div class="ti_cao">
		
					<div class="ti_shang">
						<i class="iconfont icon-arrowleft f22"></i><span>上一步</span>
					</div>
					<div class="ti_xia">
						<span>下一步</span><i class="iconfont icon-arrowright f22"></i>
					</div>
					<div class="ti_xuan">
						<i class="iconfont icon-wenhao f22"></i><span>帮我选身形</span>
					</div>
				</div>
            </div>
            <div class="swiper-slide">
            	<div class="ti_logo">
					<img src="./images/img/logo_06.png" alt="" />
				</div>
				<div class="ti_banner">
					<img src="./images/img/mo_07.png" alt="" />
				</div>
				<div class="ti_cao">
		
					<div class="ti_shang">
						<i class="iconfont icon-arrowleft f22"></i><span>上一步</span>
					</div>
					<div class="ti_xia">
						<span>下一步</span><i class="iconfont icon-arrowright f22"></i>
					</div>
					<div class="ti_xuan">
						<i class="iconfont icon-wenhao f22"></i><span>帮我选身形</span>
					</div>
				</div>
            </div>
            <div class="swiper-slide">
            	<div class="ti_logo">
					<img src="./images/img/logo_07.png" alt="" />
				</div>
				<div class="ti_datas">
					<dl>
						<dt>
							<img src="./images/img/feng_07.png" alt="" />
						</dt>
						<dd>
							<h4>韩剧女主角 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/feng_09.png" alt="" />
						</dt>
						<dd>
							<h4>日系小清新 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/feng_14.png" alt="" />
						</dt>
						<dd>
							<h4>轻熟OL系 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/feng_16.png" alt="" />
						</dt>
						<dd>
							<h4>欧美出街范 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/feng_20.png" alt="" />
						</dt>
						<dd>
							<h4>文艺复古情怀 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="./images/img/feng_22.png" alt="" />
						</dt>
						<dd>
							<h4>中性运动风 <i class="iconfont icon-yuanxingxuanzhong f22"></i></h4>
							
						</dd>
					</dl>
				</div>
				<div class="ti_cao">
		
					<div class="ti_shang">
						<i class="iconfont icon-arrowleft f22"></i><span>上一步</span>
					</div>
					<div class="ti_xia">
						<span>下一步</span><i class="iconfont icon-arrowright f22"></i>
					</div>
					<div class="ti_xuan">
						<i class="iconfont icon-wenhao f22"></i><span>帮我选身形</span>
					</div>
				</div>
            </div>
            <div class="swiper-slide">
            	<div class="ti_logo">
					<img src="./images/img/logo_08.png" alt="" />
				</div>
            </div>
           
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        
    </div>
	
	
	
	
</section>
<!--<div class="dialog">
		<div class="mark">
			<h4>真的要走吗？</h4>
			<p>马上就能拿到您的测试报告啦！</p>
			<div class="btn">
				<span>退出</span><span>继续测试</span>
			</div>
		</div>
	</div>-->