<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-close f4" ui-sref="backchuan"></i>
	</div>
	<p>请选择你的城市</p>
</header>
<section class="city_list">
	<ul class="city_lis" ng-repeat="i in list">
		<li ng-click="ols(i)" ui-sref="city2"><a>{{i.city}}</a><i class="iconfont icon-arrowright f22"></i></li>
		<!--<li><a>云南</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>内蒙古</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>台湾</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>吉林</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>四川</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>宁夏</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>安徽</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>山东</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>山西</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>广东</a><i class="iconfont icon-arrowright f22"></i></li>
		<li><a>广西</a><i class="iconfont icon-arrowright f22"></i></li>-->
	</ul>
</section>