<div class="like_dan">
	<h3>热门搜索</h3>
	<p><b></b><span>单品</span></p>
	<div class="like_list">
		<ul>
			<li><a >T恤</a></li>
			<li><a >雪纺衫</a></li>
			<li><a >衬衫</a></li>
			<li><a >连衣裙</a></li>
			<li><a >春季美衣</a></li>
			<li><a >牛仔裤</a></li>
			<li><a >小白鞋</a></li>
			<li><a >牛仔外套</a></li>
			<li><a >薄款针织衫</a></li>
			<li><a >卫衣</a></li>
			<li><a >单鞋</a></li>
			<li><a >初夏美衣</a></li>
			<li><a >高跟鞋</a></li>
		</ul>
	</div>
	<p><b></b><span>搭配</span></p>
	<div class="like_list">
		<ul>
			<li><a >清新</a></li>
			<li><a >显瘦</a></li>
			<li><a >韩系</a></li>
			<li><a >显高</a></li>
			<li><a >显白</a></li>
			<li><a >情侣装</a></li>
			<li><a >学院风</a></li>
			<li><a >轻熟</a></li>
			<li><a >运动风</a></li>
		</ul>
	</div>
	<p><b></b><span>热门文章</span></p>
	<div class="like_wen">
		<dl>
			<dt>
				<img src="./images/img/wen_03.png" alt="" />
			</dt>
			<dd>
				<span>肩宽？肩窄？都是因为你没穿对！</span>
				<i class="iconfont icon-arrowright f22"></i>
			</dd>
		</dl>
		<dl>
			<dt>
				<img src="./images/img/wen_06.png" alt="" />
			</dt>
			<dd>
				<span>美妆小技巧 永远不要说相见恨晚！</span>
				<i class="iconfont icon-arrowright f22"></i>
			</dd>
		</dl>
	</div>
</div>