<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-arrowleft f4" ui-sref="backge"></i>
	</div>
	<h3>个人资料</h3>
</header>
<section class="geren">
	<div class="geren_tou">
		<dl>
			<dt>
				<img src="./images/icon/tou_03.png" alt="" />
			</dt>
			<dd>
				<span>设置头像</span><span>设置背景</span>
			</dd>
		</dl>
	</div>
	<div class="gern_list">
		<ul>
			<li><span>昵称</span><span>随便输入</span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>出生日期</span><span></span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>身高</span><span></span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>体重</span><span></span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>收获地址</span><span></span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>绑定手机号</span><span>未绑定</span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>微信授权</span><span>未授权</span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>QQ授权</span><span>未授权</span><i class="iconfont icon-arrowright f22"></i></li>
			<li><span>微信授权</span><span>未授权</span><i class="iconfont icon-arrowright f22"></i></li>
		</ul>
	</div>
</section>