<header class="gou_head">
	<div class="gou_search">
		<i class="iconfont icon-sousuo f22"></i>
		<input type="text" placeholder="出游省钱攻略" />
	</div>
	<div class="more pos-absolute">
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>
<section class="gou_content">
	<div class="gou_te">
		<div class="left">
			<div class="te">
				<img src="./images/img/te_03.png" alt="" />
			</div>
			<p>
				<span>05</span>:
				<span>27</span>:
				<span>01</span>
			</p>
		</div>
		<div class="right">
			<div class="te gou_jin">
				<img src="./images/img/jin_05.png" alt="" />
			</div>
			<div class="te">
				<img src="./images/img/jin_08.png" alt="" />
			</div>
		</div>
	</div>
	<div class="gou_list">
		<dl>
			<dt>
				<img src="./images/img/gou_03.png"/>
			</dt>
			<dd>今日上新</dd>
		</dl>
		<dl>
			<dt>
				<img src="./images/img/gou_05.png"/>
			</dt>
			<dd>热销榜单</dd>
		</dl>
		<dl>
			<dt>
				<img src="./images/img/gou_07.png"/>
			</dt>
			<dd>明星同款</dd>
		</dl>
	</div>
	<div class="gou_dang">
		<h3>当季热卖</h3>
		<div class="gou_qing">
			<dl>
				<dt>
					<img src="./images/img/dang_11.png"/>
				</dt>
				<dd>连衣裙</dd>
			</dl>
			<dl>
				<dt>
					<img src="./images/img/dang_13.png"/>
				</dt>
				<dd>初夏美衣</dd>
			</dl>
			<dl>
				<dt>
					<img src="./images/img/dang_15.png"/>
				</dt>
				<dd>衬衫</dd>
			</dl>
			<dl>
				<dt>
					<img src="./images/img/dang_17.png"/>
				</dt>
				<dd>T恤</dd>
			</dl>
		</div>
	</div>
	<div class="gou_fen">
		<h3>全部分类</h3>
		<ul>
			<li><img src="./images/img/fen_21.png" alt="" /></li>
			<li><img src="./images/img/fen_23.png" alt="" /></li>
			<li><img src="./images/img/fen_27.png" alt="" /></li>
			<li><img src="./images/img/fen_29.png" alt="" /></li>
			<li><img src="./images/img/fen_33.png" alt="" /></li>
			<li><img src="./images/img/fen_35.png" alt="" /></li>
			<li><img src="./images/img/fen_39.png" alt="" /></li>
			<li><img src="./images/img/fen_41.png" alt="" /></li>
		</ul>
	</div>
	<div class="gou_hao">
		<h3>好店推荐</h3>
		<div class="gou_datas gou_high" id='gou_wrapper'>
			<ul>
				<li>
					<img src="./images/img/1.jpg" alt="" />
					<p>韩都衣舍</p>
				</li>
				<li>
					<img src="./images/img/2.jpg" alt="" />
					<p>M酱晓梅</p>
				</li>
				<li>
					<img src="./images/img/5.jpg" alt="" />
					<p>夏天家</p>
				</li>
				<li>
					<img src="./images/img/3.jpg" alt="" />
					<p>韩都衣舍</p>
				</li>
				<li>
					<img src="./images/img/4.jpg" alt="" />
					<p>韩都衣舍</p>
				</li>
				<li>
					<img src="./images/img/5.jpg" alt="" />
					<p>韩都衣舍</p>
				</li>
				<li>
					<img src="./images/img/6.jpg" alt="" />
					<p>韩都衣舍</p>
				</li>
				<li>
					<img src="./images/img/7.jpg" alt="" />
					<p>韩都衣舍</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="gou_tiao">
		<h3>挑款师精选</h3>
		<div class="gou_xiang">
			<div class="gou_banner">
				<img src="./images/img/bang.jpg" alt="" />
				<h4>想要一个比前男友梗持久的化妆</h4>
				<p><span>点击查看更多</span><i class="iconfont icon-arrowright f22"></i></p>
			</div>
			<div class="gou_info">
				<h3>必败单品·不脱妆</h3>
				<p><span>浏览</span><span>2761</span></p>
			</div>
		</div>
		<div class="gou_xiang">
			<div class="gou_banner">
				<img src="./images/img/bang.jpg" alt="" />
				<h4>郊游踏青，穿这些连衣裙最上镜</h4>
				<p><span>点击查看更多</span><i class="iconfont icon-arrowright f22"></i></p>
			</div>
			<div class="gou_info">
				<h3>必败单品·连衣裙</h3>
				<p><span>浏览</span><span>2761</span></p>
			</div>
		</div>
	</div>
</section>

<my-footer></my-footer>