<header class="kefu">
	<i class="iconfont icon-arrowleft f22" ui-sref="dialog"></i>
	<div class="ke_tou">
		<img src="./images/img/logos_03.png" alt="" />
	</div>
	
</header>
<sectioon class="kefu_content">
	
</sectioon>
<footer class="ke_foot">
	<div class="ke_lis">
		<ul>
			<li>怎么搭</li>
			<li>帮我挑</li>
			<li>场合穿搭</li>
			<li>穿啥？</li>
			<li>求改进</li>
		</ul>
	</div>
	<div class="ke_info">
		<i class="iconfont icon-xiangji f22"></i>
		<div class="ke_int">
			<input type="text" placeholder="说点什么吧" />
		</div>
	</div>
</footer>