<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-arrowleft f4" ui-sref="backlike"></i>
	</div>
	<h3>我的喜欢</h3>
	<div class="more pos-absolute">
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>
<div class="like_list">
	<span ui-sref="like.dan" ui-sref-active="active">单品</span>
	<span ui-sref="like.da" ui-sref-active="active">搭配</span>
	<span>主题</span>
	<span>帖子</span>
	<span>作品</span>
</div>
<section class="like">
	
	<ui-view></ui-view>
</section>