<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-arrowleft f4" ui-sref="backge"></i>
	</div>
	<h3>修改密码</h3>
	<div class="more pos-absolute">
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>
<section class="pwd">
	<div class="pwd_mima">
		<div class="yonghu"><span>用户名：</span><span>takeyourminnidogi</span></div>
		<form action="">
			<ul>
				<li><label for="pwd1">旧密码：</label><input type="password" id='pwd1'/></li>
				<li><label for="pwd2">新密码：</label><input type="password" id='pwd2'/></li>
				<li><label for="pwd3">重复新密码：</label><input type="password" id='pwd3'/></li>
			</ul>
			
		</form>
		<p>提交</p>
	</div>
</section>