<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-arrowleft f4" ui-sref="back"></i>
	</div>
	<h3>搭配详情</h3>
	<div class="more pos-absolute">
		<i class="iconfont icon-fenxiang2 f22 pr10" ng-click="fenxiang()"></i>
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>

<section class="qing">
	<div class="qing_page">
		<img src="./images/img/xiang_03.png" alt="" />
	</div>
	<div class="qing_list">
		<dl>
			<dt>
				<i class="iconfont icon-xiaoxi f22"></i>
			</dt>
			<dd>联系卖家</dd>
		</dl>
		<dl>
			<dt>
				<i class="iconfont icon-like f22"></i>
			</dt>
			<dd>喜欢</dd>
		</dl>
		<p>搭配购</p>
	</div>
</section>
