<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-arrowleft f4" ui-sref="backsetting"></i>
	</div>
	<h3>系统设置</h3>
	<div class="more pos-absolute">
		
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>
<section class="set_content">
	<div class="set_list">
		<ul>
			<li ui-sref="geren"><span >个人资料</span><span></span></li>
			<li ui-sref="pwd"><span>修改密码</span><span></span></li>
			<li ui-sref="bang"><span>绑定手机</span><span>绑定赢取200元礼包</span></li>
			<li ui-sref="shouquan"><span>授权第三方账号</span><span></span></li>
		</ul>
	</div>
	<div class="set_list">
		<ul>
			<li><span>权限设置</span><span></span></li>
			<li><span>消息设置</span><span></span></li>
			<li><span>清理缓存</span><span></span></li>
		</ul>
	</div>
	<div class="set_list">
		<ul>
			<li><span>分享穿衣助手给好友</span><span></span></li>
			<li><span>关于穿衣助手</span><span></span></li>
			<li><span>清理缓存</span><span></span></li>
			
		</ul>
	</div>
</section>
<footer class="tui">
	<span>退出登录</span>
</footer>