<header class="head pos-relative">
	<div class="back pos-absolute">
		<i class="iconfont icon-shezhi1 f4" ui-sref="seeting1"></i>
	</div>
	<h3>我的主页</h3>
	<div class="more pos-absolute">
		<i class="iconfont icon-gouwuche f22"></i>
	</div>
</header>
<section class="seetings">
	<div class="set_like">
		<dl ui-sref="like">
			<dt>
				<i class="iconfont icon-like f22"></i>
			</dt>
			<dd>我的喜欢</dd>
		</dl>
		<dl>
			<dt>
				<i class="iconfont icon-shejiao f22"></i>
			</dt>
			<dd>我的关注</dd>
		</dl>
		<dl>
			<dt>
				<i class="iconfont icon-liwu f22"></i>
			</dt>
			<dd>签到</dd>
		</dl>
	</div>
	<div class="set_info">
		<p>
			<span>联系卖家</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
		<p>
			<span>消息中心</span>
			<b>3</b>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
	</div>
	<div class="set_ding">
		<p>
			<span>全部订单</span>
			<span class="quan">查看全部订单</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
		<div class="set_list">
			<dl>
				<dt>
					<i class="iconfont icon-"></i>
				</dt>
				<dd></dd>
			</dl>
		</div>
	</div>
	<div class="set_you">
		<p>
			<span>我的优惠券</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
		<p>
			<span>推荐奖励</span>
			<span class="quan zi">买买买还能赚钱哦</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
		<p>
			<span>我的足迹</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
	</div>
	<div class="set_ke">
		<p>
			<span>在线客服</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
		<p>
			<span>客服电话</span>
			<span class="quan zi tel">400-060-6989</span>
			<span class="time">(周一到周日 09:00 - 23 : 00)</span>
			<i class="iconfont icon-arrowright f22"></i>
		</p>
	</div>
</section>

<my-footer></my-footer>